
{{>user-header}}
<style>
    .mainDiv {
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #ad9ad8;
    font-family: 'Open Sans', sans-serif;
  }
 .cardStyle {
    width: 400px;
    border-color: white;
    background: rgb(245, 245, 245);
    padding: 36px 0;
    border-radius: 4px;
    margin: 30px 0;
    box-shadow: 0px 0 2px 0 rgba(0,0,0,0.25);
  }
#signupLogo {
  max-height: 100px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.formTitle{
  font-weight: 600;
  margin-top: 20px;
  color: #2F2D3B;
  text-align: center;
}
.inputLabel {
  font-size: 12px;
  color: #555;
  margin-bottom: 6px;
  margin-top: 24px;
}
  .inputDiv {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
input {
  height: 40px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  border: solid 1px #ccc;
  padding: 0 11px;
}
input:disabled {
  cursor: not-allowed;
  border: solid 1px #eee;
}
.buttonWrapper {
  margin-top: 40px;
}
  .submitButton {
    width: 70%;
    height: 40px;
    margin: auto;
    display: block;
    color: #fff;
    background-color: #065492;
    border-color: #065492;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.035);
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
  }
.submitButton:disabled,
button[disabled] {
  border: 1px solid #cccccc;
  background-color: #d1baba;
  color: #666666;
}

#loader {
  position: absolute;
  z-index: 1;
  margin: -2px 0 0 10px;
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #666666;
  width: 14px;
  height: 14px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
</style>



<div class="mainDiv">
  <div class="cardStyle">
    <form action="/edit-password" method="post" name="signupForm"  id="Form">
      
      <img src="/images2/fevicon/fevicon.png" id="signupLogo"/>
      
      <h2 class="formTitle">
        Login to your account 
      </h2>
      
    <div class="inputDiv">
      <label class="inputLabel" for="password">Old Password</label>
      <input type="password" name="oldPassword"  id="oldPassword">  
      <span id="errOld" style="color: crimson; font-size: smaller;"></span>        
    </div>
    

     <div class="inputDiv">
      <label class="inputLabel" for="password">New Password</label>
      <input type="password" id="newPassword" name="newPassword" >
      <span id="errNew" style="color: crimson; font-size: smaller;"></span>
    </div>
    
      
    <div class="inputDiv">
      <label class="inputLabel" for="confirmPassword">Confirm Password</label>
      <input type="password"  id="newPassword1" name="newPassword1">
      <span id="errNew1" style="color: crimson; font-size: smaller;"></span>
    </div>
    
    
    <div class="buttonWrapper">
      {{!-- <button type="submit"  class="submitButton pure-button pure-button-primary"> --}}
          <button type="submit" class="submitButton pure-button pure-button-primary">Submit</button>
      </button>
    </div>
      
  </form>
  </div>
</div>

 <script>
            
             const oldpassword=document.getElementById("oldPassword");
             const newpassword=document.getElementById("newPassword");
             const newpassword1=document.getElementById("newPassword1");
              const form=document.getElementById("Form");
              
                const errold=document.getElementById("errOld")
                const errnew=document.getElementById("errNew")
                const errnew1=document.getElementById("errNew1")

            form.addEventListener('submit',(e)=>{ 
              
            
            let message1=[] 
            let message2=[] 
            let message3=[] 
           

           

            if(oldpassword.value===''||oldpassword.value==null){
               message1.push('Please enter your currrent password') 
               } 


            if(newpassword.value===''||newpassword.value==null){
               message2.push('Please enter your new password') 
               } else if(newpassword.value.length<4){
             message2.push('password must be atleast 5 character') }


            if(newpassword.value!=newpassword1.value){
               message3.push('Re-entered Password not match') 
               } 


                    


            if(message1.length>0){
            e.preventDefault();
            errold.innerText=message1.join(' ') 
            } 
            

            if(message2.length>0){
            e.preventDefault();
            errnew.innerText=message2.join(' ') 
            } 
        

            if(message3.length>0){
            e.preventDefault();
           errnew1.innerText=message3.join(' ') 
            } 
          })

          </script>